<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="600" height="300" src="assets\img\yolo.jpg">
  <div width="600" height="300" class="myClass">
    <h2>POLO</h2><br>
    <h2>SOLO</h2><br>
    <h2>HOLO</h2><br>
  </div>
</div> -->

<h1>{{title}}</h1>
<!-- <nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav> -->
<router-outlet class="text-center"></router-outlet>
<!-- <app-messages></app-messages> -->